@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #D9435F,#A62940);
}
main {
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #05e62356;
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1 {
    color: #8D8275;
    text-align: center;
}
h2 {
    color: #230f49;
}
p {
    text-align: justify;
}